# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv/
*.env

# Jupyter
.ipynb_checkpoints

# Model & output artifacts
models/
outputs/
*.pkl
*.pth
*.csv

# Logs
*.log

# IDEs and editors
.vscode/
.idea/
*.swp
*.bak

# System
.DS_Store
Thumbs.db
